@import 'settings';

* {
  box-sizing: border-box;
}

$columnSize: 100% / $columnsCount;
@mixin generateColumns {
  $i: 1;
  @while $i <= $columnsCount {
    .col-#{$i} {
      width: $columnSize * $i;
    }
    $i: $i + 1;
  }
}

/* Main grid class style */
.grid {
  overflow: hidden;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
@include generateColumns;